
html, body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y:visible;
    background: #fdf9f2 !important;
    font-weight: 600 !important;
}
.footerbrand{
  margin-left: 0%;
}
::selection {
  background: #fff5be; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff5be; /* Gecko Browsers */
}

.bannertext{
    display: block;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 320px;
}
#logobanner{
  width:  250px;
  height: auto;
  display: inline-block;
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
  border-radius: 50%;
}
.headline{
	margin-top: 0px !important;
	font-size: 4em;
	color:#554947;
	font-weight: 500;
	font-family: Josefin Slab,sans-serif;
	position: relative;
}
.subline{
font-family: Josefin Sans,sans-serif,arial,serif;
color:#402917;
font-size: 1.2em;
}

.mainbody{
	z-index: 99;
	clear: both;
	display: block;

}
#introbanner{
  min-height: 100%;
}
.internlogo{
  margin-bottom: 5%;
  height:28px;
}
.conflogo{
  margin-bottom: 5%;
  height: 43px;
}
hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #fdf9f2; 
  color: #8c8b8b; 
  font-size: 18px; 

}
.mainbody{
  margin-top: 5%;
}
.blocker{
  margin-bottom: 4%;
    font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
    font-weight: 600 !important;
}
.blockerf{
  margin-top:10%;

}
.major{
	text-transform: lowercase;
	font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
	font-size: 2em !important;
  font-weight: 400 !important;
}
.minor{
font-family: Josefin Sans,sans-serif,arial,serif;
color:#402917;
font-size: 1.1em !important;
margin-top: 6px;
font-weight: 600 !important;
text-align: justify;
}

.pitem{
  margin-top: 5%;
	text-align: center;
  display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.proname{
  margin-top:10px;
	font-size: 1em;
	font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
	font-weight: 800;
	display: block;
}
.hobbies{
  text-align: center;
}
.abme>p{
  margin-bottom: 5%;
  margin-left: 4%;
}
.procat{
	display: block;
	font-size: 1em;
  font-weight: 600;
  text-align: justify;
	font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
}
a{
  color:#c11603 !important;
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  font-weight: 900;
  cursor: pointer;
}
i{
  color:#f73f2a;
}
i.social{
  color:#fff;
  background: #f73f2a;
    padding:10px;
    width: 32px !important;
    border-radius: 50%;
}
a:hover{
  color:#f73f2a !important;
  text-decoration: none !important;
}
.portfolioimage{
  opacity: 0.9;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  max-width: 80%;
  display: inline-block;
  position: relative;
  margin-top: 10%;
}

.portfolio{
  margin-top: 5%;
}


.footer{
  margin-bottom: 0px;
  margin-top: 10%;
}
.navbar-text{
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
}
.navbar-default{
  background-color: #fdf9f2 !important;
}
#cover 
{position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #fdf9f2; z-index:9999;}
.ajax-loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* presto! */
}
hr.sep {
    background-color: black;
    border: 0;
    height: 2px;
    margin-bottom: 21px;
    width: 42px;
}
.aboutnav{
  margin-top: 10px;
  margin-bottom: 50px;
}
.nav>li>a{
  font-size: 1.2em;
}
.secheader{
  font-size: 2em;
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  text-align: center;
}
.shuruwaat{
  margin-top: 5%;
  margin-left:auto;
  margin-right: auto;
  padding-right: 15px;
  padding-right: 15px;
}
.dexsec>h3{
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  font-weight: 900;
  color: #f73f2a;
  margin-bottom: 10%;
}
.dexsec>h5{
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  font-weight: 900;
  margin-bottom: 1%;
}
.dexsec>p,li{
  margin-top:1%;
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  margin-bottom: 8%;
}
.imxsec>figure>img{
  width: 100%;
  height: auto;
}
.imxsec>iframe{
  width: 100% !important;
  min-height:400px;
}
.imxsec>p{
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  font-size: 1.5em;

}
figcaption{
  font-family: Josefin Sans,Helvetica Neue, Helvetica, sans-serif,arial;
  font-style: italic;
  margin-bottom: 3.5%;
}
img.footerlogo{
position: absolute;
    margin-top:5px;
    display: none;
}
p.centrf{
   text-align:center;
   display:block;
   margin-top:22px;
   font-size:1.2em;
}
.logos{
margin-left: 5%;

}
.hidden{
  display: none;
}
a.potato{
  cursor: pointer;
}
@media screen and (min-width: 800px){
  /*Applies to screen more than 1000 or the md thingies, above works for sm*/

  .portfolioimage{
    max-width: 72%;
  }
  .proname{
  margin-top:10px;
  font-size: 1.4em;
  font-weight: 800;
}
.procat{
  font-size: 1.1em;
  text-align: justify;
  font-weight: 600;
}
.minor{
  font-size: 1.2em;
}
.pitem{
  margin-top: 0.2%;
  padding-right: 15px;
  padding-left: 15px;
}
img.footerlogo{
  display: block;
}
p.centrf{
  position: absolute;
  left:22%;
}
.logos{
  padding-left: 18%;
}
.thumbnails{
  margin-top: 5%;
  text-align: center;
}
.imxsec>iframe{
  width: 100%;
  min-height:400px;
}
.footerbrand{
  margin-left: 70%;
}
}

@media screen and (min-width: 700px){
}

@media screen and (min-width: 550px){
}
